<!DOCTYPE html>
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-primary navbar-expand-sm">
        <a class="navbar-brand" th:href="@{/}">Main page</a>
        <a class="navbar-brand" th:href="@{/mines}">MINESWEEPER</a>
        <a class="navbar-brand" th:href="@{/puzzle}">PUZZLE FIFTEEN</a>
        <a class="navbar-brand" th:href="@{/toe}">TIC-TAC-TOE</a>
        <a class="navbar-brand" th:href="@{/score}">Statistics</a>
        <a class="navbar-brand" th:href="@{/comment}">Comments</a>
        <a class="navbar-brand" th:href="@{/mines/minesjs}">MINESWEEPER II</a>
    </nav>
</div>

