<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="/css/gamestudio.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3497c75dc3.js" crossorigin="anonymous"></script>


    <script defer th:src="@{/script/scoreServiceJS.js}"></script>
    <script defer th:src="@{/script/timer.js}"></script>
    <script defer th:src="@{/minesweeperJS/minesweeperJS.js}"></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<button class="abutton" id="btChMode" onclick="processModeChangeClick()">Change to mark</button>
<button class="abutton" id="btNew" onclick="processNewGameClick()">New game</button>

<section id="minesField">
</section>
<div class="minefield"
     style="grid-template-columns: 0fr 0fr 0fr 0fr;">
    <div class="tile tile-1">1</div>
    <div class="tile tile-2">2</div>
    <div class="tile closed"></div>
    <div class="tile tile-3">3</div>
    <div class="tile tile-4">4</div>
    <div class="tile closed"></div>
    <div class="tile tile-5">5</div>
    <div class="tile closed"></div>
    <div class="tile tile-6">6</div>
    <div class="tile tile-7">7</div>
    <div class="tile closed"></div>
    <div class="tile tile-8">8</div>
    <div class="tile closed"></div>
    <div class="tile marked"></div>
    <div class="tile mine"></div>
    <div class="tile tile-1">1</div>
</div>
<section>
    <h3>Best Scores</h3>

    <table class="scores">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Score</th>
            <th>Date and time</th>
        </tr>
        </thead>
        <tbody id="scoresTableBody">
        </tbody>
    </table>
</section>



<script type="text/javascript">
    const minesField = document.getElementById("minesField");
    const scoresTableBody = document.getElementById("scoresTableBody");
    const btChMode = document.getElementById("btChMode");
    const btNew = document.getElementById("btNew");

    //const serverUrl="http://localhost:8080";
    const serverUrl="";//if from the same server as this page

    const getBestScoresJsonUrl =serverUrl+"/api/score/mines";
    const getGameFieldUrl =serverUrl+"/mines/json";
    const chModeUrl =serverUrl+"/mines/jsonchmode";

    fetchAndRenderBestScores();

    fetchGameFieldAndRenderAll();

    function fetchAndRenderBestScores(){
        fetch(getBestScoresJsonUrl)
            .then(response => {
                    if(response.ok){
                        return(response.json());
                    }else{
                        return Promise.reject(new Error('Best scores acquisition failed. Server answered with status '+response.status));
                    }
                }
            )
            .then(bestScoresData =>{
                //console.log(bestScoresData);
                renderBestScores(bestScoresData,scoresTableBody);
            })
            .catch(error =>{
                //console.error(error);
                const errorMessage = "Failed to get or render best scores. Details:"+error;
                scoresTableBody.innerHTML=errorMessage;
            })

    }

    function renderBestScores(bestScoresData, renderTo){
        const rowCount = bestScoresData.length;
        let html2render="";
        for(let row=0; row<rowCount;row++){
            html2render+=
                `
                <tr>
                <td>${row+1}</td>
                <td>${bestScoresData[row].player}</td>
                <td>${bestScoresData[row].points}</td>
                <td>${bestScoresData[row].playedOn}</td>
                </tr>
                `
        }
        renderTo.innerHTML=html2render;
    }

    function fetchGameFieldAndRenderAll(row, col){
        let getGameFieldUrlWParams = getGameFieldUrl;
        if(Number.isInteger(row) && Number.isInteger(col)){
            getGameFieldUrlWParams = `${getGameFieldUrlWParams}?row=${row}&column=${col}`;
            console.log(getGameFieldUrlWParams);
        }
        fetch(getGameFieldUrlWParams)
            .then(response => {
                    if(response.ok){
                        return(response.json());
                    }else{
                        return Promise.reject(new Error('Game field acquisition failed. Server answered with status '+response.status));
                    }
                }
            )
            .then(gameFieldData =>{
                console.log(gameFieldData);
                renderGameField(gameFieldData, minesField);
                changeBtChModeLabel(gameFieldData.marking);
                if(gameFieldData.justFinished){
                    fetchAndRenderBestScores();
                }
            })
            .catch(error =>{
                console.error(error);
                let errorMessage = "Failed to get or render the game field. Details:"+error;
                minesField.innerHTML=errorMessage;
            })

    }

    function renderGameField(gameFieldData, renderTo){
        let html2render="<table class='minefield'>\n";
        for (let row=0;row<gameFieldData.rowCount;row++){
            html2render+="<tr>\n";
            for (let col=0;col<gameFieldData.columnCount;col++){
                let onClickHandling ="";

                if(gameFieldData.state=="PLAYING" && gameFieldData.tiles[row][col].state!="OPEN"){
                    onClickHandling=`onclick='processTileClick(${row},${col})'`;
                }

                html2render+=
                    `
                        <td class ='${getTileClass(gameFieldData.tiles[row][col])}' ${onClickHandling}>
                            <span>
                                ${getTileText(gameFieldData.tiles[row][col])}
                            </span>
                        </td>
                        `;
            }
            html2render+="</tr>\n";
        }
        html2render+="</table>\n";

        renderTo.innerHTML=html2render;

    }

    function  getTileText(tile) {
        switch (tile.state) {
            case "OPEN":
                if (tile.value!= undefined)
                    return "" + tile.value;
                else
                    return "X";
            case "CLOSED":
                return "-";
            case "MARKED":
                return "M";
            default:
                return "?";
        }
    }

    function  getTileClass(tile) {
        switch (tile.state) {
            case "OPEN":
                if (tile.value!= undefined)
                    return "open" + tile.value;
                else
                    return "mine";
            case "CLOSED":
                return "closed";
            case "MARKED":
                return "marked";
            default:
                return "unknown";
        }
    }

    function changeBtChModeLabel(marking){
        if(marking){
            btChMode.innerHTML="Change to open";
        }else {
            btChMode.innerHTML="Change to mark";
        }
    }

    function processTileClick(row,col){
        fetchGameFieldAndRenderAll(row,col);
    }

    function processModeChangeClick(){
        fetch(chModeUrl)
            .then(response => {
                    if(response.ok){
                        return(response.json());
                    }else{
                        return Promise.reject(new Error('Mode change failed. Server answered with status '+response.status));
                    }
                }
            )
            .then(gameFieldData =>{
                changeBtChModeLabel(gameFieldData.marking);
            })
            .catch(error =>{
                console.error(error);
                let errorMessage = "Failed to change game mode. Details:"+error;
                minesField.innerHTML=errorMessage;
            })

    }

    function processNewGameClick(){
        //todo
        console.log("processNewGameClick not implemented!");
    }

</script>

</body>
</html>

